{% extends 'DevOneApp/base.html' %}
{% block title-content %}DevOne{% endblock %}
{% block body-content %}
<div class=" m-4">
	<div class="row border-bottom">
	<nav id="sidebarMenu" class="col-lg-2 d-md-block sidebar rounded bg-light">
		<div class="sidebar-sticky pt-3">
		<div class="nav flex-column">
			<div class="">
				<h6 class="h5 d-flex h5 px-3 mt-4 mb-1 text-muted"><span>About Developer</span></h6>
						<!-- <img src="../static/images/"/> -->
				<div class="nav-item text-muted">
					<h6 class="h6">Mwigo Jonathan Mark</h6>
					Jonathan is a software developer with knowlegde in fullstack Python web development with Django and Flask frameworks, Android app development and Computer app development all gained through experience of 2 years.
				</div>
				<div>
					<hr/>
					<h6 class="h6 d-flex h5 px-3 mt-4 mb-1 text-muted"><span>More About Developer</span></h6>
					<ul class="nav flex-column mb-2 h6">
						<li class="nav-item"><a class="nav-link" href=""><span data-feather="file-text">GitHub</span></a></li>
						<li class="nav-item"><a class="nav-link" href=""><span data-feather="file-text">Dev Community</span></a></li>
						<li class="nav-item"><a class="nav-link" href=""><span data-feather="file-text">Instagram</span></a></li>
						<li class="nav-item"><a class="nav-link" href=""><span data-feather="file-text">FaceBook</span></a></li>
					</ul>
				</div>
			</div>
			</div>
		</div>
	</nav>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-6 px-md-4 border-left border-right">
			<div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
				<div>
					<h4 class="h4">Web Designing, Development & Hosting</h4>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
							<li data-target="#myCarousel" data-slide-to="3"></li>
						</ol>
						<div class="carousel-inner rounded">
							<div class="carousel-item active">
								<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
								<div class="container">
									<div class="carousel-caption">
										<!-- <img src="../static/images/"/> -->
										<h6>CMS Development</h6>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
								<div class="container">
									<div class="carousel-caption">
										<!-- <img src="../static/images/"/> -->
										<h6>SPA Development</h6>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
								<div class="container">
									<div class="carousel-caption">
										<!-- <img src="../static/images/"/> -->
										<h6>FullStack WebSite Development</h6>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
								<div class="container">
									<div class="carousel-caption">
										<!-- <img src="../static/images/"/> -->
										<h6>Azure, DevOps & Amazon fwps</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<h4 class="h4">Mobile App Development</h4>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner rounded">
							<div class="carousel-item active">
								<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
								<div class="container">
									<div class="carousel-caption">
										<!-- <img src="../static/images/"/> -->
										<h6>IOS Development</h6>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
								<div class="container">
									<div class="carousel-caption">
										<!-- <img src="../static/images/"/> -->
										<h6>Android Development</h6>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
								<div class="container">
									<div class="carousel-caption">
										<!-- <img src="../static/images/"/> -->
										<h6>Mobile App Template Designing</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<h4 class="h4">Computer Software(App) Development</h4>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner rounded">
							<div class="carousel-item active">
								<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
								<div class="container">
									<div class="carousel-caption">
										<!-- <img src="../static/images/"/> -->
										<h6>MacOS Development</h6>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
								<div class="container">
									<div class="carousel-caption">
										<!-- <img src="../static/images/"/> -->
										<h6>Linux Development</h6>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
								<div class="container">
									<div class="carousel-caption">
										<!-- <img src="../static/images/"/> -->
										<h6>Windows Development</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<h4 class="h4">Game Development</h4>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner rounded">
							<div class="carousel-item active">
								<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
								<div class="container">
									<div class="carousel-caption">
										<!-- <img src="../static/images/"/> -->
										<h6>Console Game Development</h6>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
								<div class="container">
									<div class="carousel-caption">
										<!-- <img src="../static/images/"/> -->
										<h6>Computer Game Development</h6>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
								<div class="container">
									<div class="carousel-caption">
										<!-- <img src="../static/images/"/> -->
										<h6>Mobile Game Development</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<aside class="col-md-4 blog-sidebar float-right bg-light rounded">
			<div class="p-4 mb-3 rounded">
				<form class="form">
					<div class="form-row">
						<!-- <img class="" src="../static/images/"/> -->
					</div>
					<h6 class="form-text">Contact Developer</h6>
					<div class="form-row">
						<label class="col-form-label-sm" for="name-input">Name:</label>
						<input class="form-control" id="name-input" type="text" name="" placeholder="Your Name..." />
					</div>
					<div class="form-row">
						<label class="col-form-label-sm" for="email-input">Email:</label>
						<input class="form-control" id="email-input" type="text" name="" placeholder="Your email..." />
					</div>
					<div class="form-row">
						<label class="col-form-label-sm" for="message-input">Message:</label>
						<textarea class="form-control" id="message-input" placeholder="Your message..." spellcheck="true" cols="20" rows="10"></textarea>
					</div>
					<div class="">
						<hr/>
						<button class="form-control btn btn-primary col-md-6 float-right shadow">Send</button>
					</div>
				</form>
			</div>
		</aside>
	</div>
</div>
{% endblock %}
